@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Unbounded', cursive;
        }

        body {
            height: 100%;
            width: 100%;
        }

        .container {
            display: grid;
            height: 100%;
            border: 1.5px solid black;
            border-radius: 5px;
            box-shadow: 5px 5px 5px lightgray;
            margin: 20px 20px 20px 20px;
            grid-template-columns: 1fr 1fr;
            background-image:linear-gradient(to left, rgba(247, 211, 211, 0.301) 10%,rgba(183, 229, 243, 0.37) 65%);
            box-sizing: border-box;

        }

        #section1 {
            /* background-image: linear-gradient(rgba(238, 130, 238, 0.242),rgba(255, 0, 255, 0.308)); */
            position: relative;
            background-color: transparent;
            margin-top: 10px;
        }

        #section2 {
            /* background-image:  linear-gradient(rgba(238, 130, 238, 0.242),rgba(0, 149, 255, 0.292)); */
            border-left: 1px solid black;
            position: relative;
            background-color: transparent;
            margin-top: 10px;
        }

        .logo-name-box {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }

        .Read-more_btn {
            height: 20px;
            width: 80px;
        }

        .Read-more_btn:hover {
            background-color: lightgray;
            border: none;
        }

        #showContent {
            display: none;
        }

        /* Neesarg code starts */
        .img_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .ratings-area {
            position: relative;
            top: 55%;
            left: 10%;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-large;
        }

        .fa-star {
            color: rgba(0, 0, 0, 0.741);
            font-size: 20px;
            padding-right: 5px;

        }

        .description {
            margin: 20px 10px 0px 10px;
            padding-bottom: 10px;
            color: rgb(44, 44, 44);
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-bottom: 1px solid black;
        }

        .c-service {
            margin-top: 50px;
            width: 80%;
            padding-left: 5px;
            text-align: center;
        }

        .btn {
            background-color: black;
            color: white;
        }

        h1 {
            font-weight: bold;
            margin-left: 20vh;
        }

        table {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            margin-left: 10vh;
        }

        td {
            width: 20%;
            letter-spacing: 0.5px;
            font-weight: bold;
            font-size: 16px;

        }

        tr {
            height: 25px;
        }

        #comm-box {
            margin-top: 20px;
            margin-left: 5%;
            
        }

        textarea {
            margin-top: 10px;
            border: none;
            resize: none;
            box-shadow: 0.2px 0.2px 2px black;
        }

        span {
            color: black;
            font-weight: 700;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 25px;
        }

        #btn-box{
            display: flex;
        }

        .btn-sub {
            height: 40px;
            width: 200px;
            background-color: rgb(237, 75, 75);
            color: white;
            position: relative;
            margin: 0px 10px;
            margin-bottom: 25px;
            top: 15px;
            left: 66%;
            border: none;
            border-radius: 3px;
            letter-spacing: 2px;
            font-size: 16px;
        }

        #txt-area {
            padding-left: 10px;
            padding-top: 5px;
            font-weight: 600;
            border-radius: 3px;
        }

        .box {
            height: 100px;
            width: 200px;
            margin-left: 25%;
        }

        #i1 {
            font-size: 17px;
            position: relative;
            top: 7px;
        }

        #b1 {
            margin-left: 0px;
            font-size: 22px;
            font-weight: 600;
            color: green;
            position: relative;
            top: 10px;
        }

        .spa {
            position: relative;
            top: 20px;
            left: 25px;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 1px;
        }
        input{display: none;}